@use '@rambo-react/ui-meteors/dist/typography' as typography;

.form {
  margin-top: 37px;
}

.text {
  @include typography.Regular_text_14;

  margin: 7px 0 17px;
  color: var(--color-light-900);
}

.textSuccess {
  @include typography.Regular_text_14;

  margin: 23px 0 18px;
  color: var(--color-light-100);
}

.linkSignIn {
  text-decoration: none;
}

.btnForm {
  margin-bottom: 24px;
}

.btnSignIn {
  margin-bottom: 12px;
}

.reCaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

@media (width <= 425px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
  }

  .btnForm,
  .btnSignIn {
    height: 48px;
  }

  .reCaptcha {
    order: 4;
    width: 100%;
    margin-top: 0;
    margin-bottom: 36px;

    & > *:first-child {
      width: 100%;
    }
  }

  .inputContainer {
    order: 1;
  }

  .text {
    order: 2;
    margin-bottom: 53px;
  }

  .textSuccess {
    @include typography.Regular_text_16;

    order: 4;
    margin-top: 54px;
  }

  .btnForm {
    order: 5;
  }

  .linkSignIn {
    order: 6;
  }
}
