@import '@rambo-react/ui-meteors/dist/typography';

.signInContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.socialContainer {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;

  margin: 13px 0 24px;
}

.title {
  margin: 0;

  @include H1;
}

.InputContainer {
  margin-top: 24px;

  label {
    @include Regular_text_16;

    color: var(--color-light-900);
  }

  input {
    background-color: transparent;
  }
}

.forgotPass {
  display: flex;
  justify-content: flex-end;

  margin: 36px 0 24px;

  color: var(--color-light-900);
  text-decoration: none;

  &:visited {
    color: var(--color-light-900);
  }

  @include Regular_text_14;
}

.footer {
  margin: 18px 0 6px;
  text-align: center;
}

.emailInput,
.passwordInput {
  p {
    width: 100%;
    max-width: 326px;
    word-break: break-all;
  }
}
