@use '@rambo-react/ui-meteors/dist/typography' as typography;

.form {
  min-width: 330px;

  .margin {
    margin-bottom: 24px;
  }

  .button {
    margin-bottom: 18px;
  }
}

.title {
  margin-bottom: 37px;
  text-align: center;

  @include typography.H1;
}

.helper {
  @include typography.Regular_text_14;

  margin-top: 7px;
  margin-bottom: 41px;
  color: var(--color-light-900);
}
