@use '@rambo-react/ui-meteors/dist/typography' as typography;

.sentModalContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;

  width: 100%;
  max-width: 330px;

  p {
    @include typography.Regular_text_16;

    color: var(--color-light-100);
  }

  button {
    @include typography.H3;

    align-self: flex-end;
    width: 100%;
    max-width: 96px;
  }
}

@media screen and (width <= 576px) {
  .sentModalContainer {
    width: 100%;
    max-width: 306px;
    margin: 0 auto;

    p {
      text-align: center;
    }

    button {
      max-width: 306px;
      height: 48px;
    }
  }
}
