@import '../../../node_modules/@rambo-react/ui-meteors/dist/typography';

.cardWrapper {
  display: flex;
  justify-content: center;
  padding-top: 72px;
}

.title {
  @include H1;

  margin-bottom: 37px;
  padding-top: 5px;
  text-align: center;
}

.text {
  @include Regular_text_14;

  margin: 7px 0 17px;
  color: var(--color-light-900);
}

.textSuccess {
  @include Regular_text_14;

  margin: 23px 0 18px;
  color: var(--color-light-100);
}

.signIn {
  @include H3;

  display: flex;
  justify-content: center;

  margin: 30px 0;

  color: var(--color-accent-500);
  text-decoration: none;

  &:visited {
    color: var(--color-accent-500);
  }

  &:hover {
    color: var(--color-light-100);
  }
}

.reCaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.textModal {
  width: 100%;
  max-width: 330px;
  margin-bottom: 18px;
  color: var(--color-light-100);

  @include Regular_text_16;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
}

.btnModal {
  width: 96px;
  height: 36px;

  @include H3;

  color: var(--color-light-100);
}
