@import '@rambo-react/ui-meteors/dist/typography';

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  @include H1;

  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.icons {
  display: flex;
  gap: 60px;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

.agreement {
  @include Small_text;

  display: flex;
  align-items: center;

  span,
  a {
    margin-right: 4px;
  }
}

.submitButton {
  margin-bottom: 6px;
}

.question {
  @include Regular_text_16;

  text-align: center;
}

.signIn {
  @include H3;

  display: flex;
  justify-content: center;

  margin-bottom: 6px;

  color: var(--color-accent-500);
  text-decoration: none;

  &:visited {
    color: var(--color-accent-500);
  }
}
