@use '@rambo-react/ui-meteors/dist/typography' as typography;

.container {
  display: flex;
  flex-direction: column;
}

.comeBackLink {
  position: absolute;
  top: 84px;
  left: 64px;

  display: flex;

  color: var(--color-light-100);
  text-decoration: none;

  transition: 0.2s ease-out;

  @include typography.Regular_text_14;

  svg {
    margin-right: 12px;
    fill: var(--color-light-100);
    transition: inherit;
  }

  &:hover {
    color: var(--color-accent-100);

    svg {
      fill: var(--color-accent-100);
    }
  }

  @media (width <= 425px) {
    span {
      display: none;
    }
  }

  @media (width <= 375px) {
    left: 15px;
  }

  @media (width <= 320px) {
    top: 90px;
    left: 30px;
  }
}

.title {
  @include typography.H1;

  margin: 71px auto 20px;
  text-align: center;

  @media (width <= 425px) {
    margin: 17px auto 20px;
  }
}

.text {
  max-width: 958px;
  margin: 0 auto 227px;
  padding: 0 15px;
  text-align: center;

  @include typography.Regular_text_14;
}
