@import "@rambo-react/ui-meteors/dist/typography";

.comeBackButton{
  margin: 24px auto 24px 64px;
}

.comeBackLink{
  display: flex;
  text-decoration: none;

  @include Regular_text_14;

  svg{
    margin-right: 12px;
  }
}

.textContainer{
  margin: 0 12% 227px;
  text-align: center;

  @include Regular_text_14;

  h1{
    @include H1;

    margin-bottom: 20px;
  }
}