
@use '@rambo-react/ui-meteors/dist/typography' as typography;

.container {
    display: flex;
    flex-direction: column;
    position: relative;

    p {
        top: 215px;
        right: 25px;
        color: var(--color-light-900);
    }

    min-width: 462px;
    padding: 24px;
    
    .description {
        max-width: 433px;
        min-height: 120px;
    }

    .separator {
        border: none; 
        position: absolute;
        padding: 0;
        width: 462px;
        height: 1px;
        top: 80%;
        left: 0%;
        box-sizing: border-box;
        background-color: var(--color-dark-100);
    }
  }



